$background = #efefef
$default-font = 'Arial'

*{margin:0;padding:0;background:white;}
body
    overflow:hidden
    font-family: $default-font

input
    margin: 10px

.container
    border: 3px solid gray

@import 'mixins/index.styl'
