.metaphysical-panel
    box-shadow: $md-card-4
    z-index: 10
    width: 200px
    height: 100%
    top: 0
    left: 0
    position: fixed
    display: flex
    flex-direction: column
    justify-content: flex-start
    align-items: flex-start;
    // margin: 5px
    background: $background
    padding:1em

.metaphysical-title
    background: none
    color: gray
    border-bottom: 1px solid lightGray


form
    top:0
    background: $background
//     left:0
//     padding:1em
//     position:absolute
//     right:0
//     text-align:center
